<div class="parent">
    <div class="div1">
        <h1 class="center big">Band Audition</h1>
    </div>
    <div class="div2 buttonDiv"><%= link_to "Login", login_path %></div>
    <div class="div3 buttonDiv"><%= link_to 'Login with Google', '/auth/google_oauth2' %></div>
    <div class="div4 buttonDiv"><%= link_to "Signup", signup_path %></div>

</div>