<h1 class="center">Band Audition</h1>

<ol class="flex">
    <li class="boxColor smallBox justify">
        <div class="boxAlignment center">
            <div class="smallWhite"><%= link_to "Login", login_path %></div>
        </div>
    </li>
    <li class="boxColor smallBox justify">
        <div class="boxAlignment center">
            <div class="smallWhite"><%= link_to 'Login with Google!', '/auth/google_oauth2' %></div>
        </div>
    </li>
    <li class="boxColor smallBox justify">
        <div class="boxAlignment center">
            <div class="smallWhite"><%= link_to "Signup", signup_path %></div>
        </div>
    </li>
</ol>