Welcome <%= current_user.username %>!

<h2>Auditions</h2>
<% @auditions.each do |audition| %>
<%= link_to "#{audition.school} - #{audition.year.strftime("%Y")}", user_audition_path(current_user, audition) %>
<% end %>