<div class="parent">
    <div class="div1">
        <h1 class="center">Join Audition</h1>

        <div>
            <%= form_for @audition, url: '/join' do |f| %>
            <div>
                <%= f.label :code %>
                <%= f.text_field :code %>
                <%= f.submit "Join Audition" %>
                <% end %>
            </div>
        </div>
    </div>
</div>